<!-- login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{{ url_for('sign_in') }}" method="post">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <label for="remember_me">Remember Me:</label>
        <input type="checkbox" id="remember_me" name="remember_me"><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
